{{ define "title" }} {{.BlogTitle}} {{ end }}
{{ define "content" }}
<div class="jumbotron jumbotron-fluid bg-primary">
	<div class="container">
		<h1 class="display-5 text-xs-center">Latest posts</h1>
	</div>
</div>
<div class="container">
	{{range .LatestPosts }}
	<div class="card">
		<div class="card-block">
			<a href="{{.GetURL }}">
				<h3>
					{{.Title}}
					<small class="text-muted hidden-sm-down">{{.Subtitle}}</small>
				</h3>
				<p class="text-muted hidden-sm-up">{{.Subtitle}}</p>
			</a>
		</div>
	</div>
	{{end}}
</div>
{{ end }}
